<footer class="site-footer h-card">
    <data class="u-url" href="/"></data>

    <div class="wrapper">

        <div class="copyright">&copy; 2020 <span class="name">Victor Nguli Joseph</span>. All rights reserved</div>
        <!-- <div class="footer-col-wrapper">
            <div class="footer-col footer-col-1">
                <ul class="contact-list">
                    <li class="p-name">Victor Nguli Joseph</li>
                    <li><a class="u-email" href="mailto:victornjoseph@gmail.com">victornjoseph@gmail.com</a></li>
                </ul>
            </div>

            <div class="footer-col footer-col-2">
                <ul class="social-media-list">
                    <li><a href="https://github.com/Victornguli"><svg class="svg-icon">
                                <use xlink:href="/assets/minima-social-icons.svg#github"></use>
                            </svg> <span class="username">Victornguli</span></a></li>
                    <li><a href="https://www.twitter.com/nguli_victor"><svg class="svg-icon">
                                <use xlink:href="/assets/minima-social-icons.svg#twitter"></use>
                            </svg> <span class="username">nguli_victor</span></a></li>
                </ul>
            </div>

            <div class="footer-col footer-col-3">
                <p>Hello, World! My name is Victor Nguli Joseph. I am a Software Engineer from Nairobi, Kenya.
                    I am currently working at Finance Plan Ltd as a <b>Software Engineer</b>developing
                    and mantaining software products for use in the financial sector. On my free time I love
                    learning new state of the art technlogies, building tiny convinience tools and developing
                    profitable microstartup ventures.</p>
            </div>
        </div> -->

    </div>

</footer>