$background-color: rgb(243, 239, 239);
$primary-color: #471537;
$secondary-color: rgb(230, 245, 238);
$tertiary-color: #373952;
$gradient: linear-gradient(#e66465, #9198e5);



@mixin easeOut {
    transition: all 0.1s ease-in-out;
}


// Media Query Mixins
@mixin mediaSm {

    // Small screen media query
    @media screen and (max-width: 570px) {
        @content;
    }
}

@mixin mediaMd {

    // Medium screen media query
    @media screen and (max-width: 991px) {
        @content;
    }
}

@mixin mediaLg {

    // Large screen media query
    @media screen and (max-width: 1170px) {
        @content;
    }
}

@mixin mediaXl {

    // Extra Large screen media query
    @media screen and (max-width: 768px) {
        @content;
    }
}