$primary-color: rgb(235, 67, 37);
$secondary-color:rgba(242, 112, 156, 1);
$gradient: linear-gradient(90deg, $secondary-color 0%, $primary-color 100%);
$background: #172430;


@mixin easeOut {
    transition: all 0.1s ease-in-out;
}


// Media Query Mixins
@mixin mediaSm {

    // Small screen media query
    @media screen and (max-width: 570px) {
        @content;
    }
}

@mixin mediaMd {

    // Medium screen media query
    @media screen and (max-width: 991px) {
        @content;
    }
}

@mixin mediaLg {

    // Large screen media query
    @media screen and (max-width: 1170px) {
        @content;
    }
}

@mixin mediaXl {

    // Extra Large screen media query
    @media screen and (max-width: 768px) {
        @content;
    }
}