.home {
    .intro {
        font-size: 1.15rem;
        line-height: 1.5;
    }

    ul{
        list-style: circle;
    }
    a {
        color: $secondary-color;
        text-decoration: none;
        // padding: 2px 2px;

        &:hover{
            color: $primary-color;
            text-decoration: underline;
        }
    }
}

// .banner { Desktop version
//     margin: 2rem;
//     background: #172430;
//     color: #ffffff;

//     .nav{
//         display: flex;
//         flex-direction: row;
//         justify-content: space-between;

//         ul{
//             list-style: none;
//             display: flex;
//             flex-direction: row;
//             justify-items: flex-end;

//             li{
//                 a{
//                     text-decoration: none;
//                     color: #ffffff;
//                     padding: 0rem 1rem;
//                 }
//             }
//         }
//     }
// }
// background-color: rgb(245, 84, 111);