.header {
    margin-top: 2rem;

    .bg-light {
        background: $background-color !important;
    }

    .navbar.navbar-expand-lg.navbar-light.bg-light {
        background: $primary-color;
    }

    .navbar {
        padding: 0.5rem 0rem;

        .navbar-brand {
            height: 4rem;
            width: 7rem;
            background: url("/assets/img/logo.png");
            background-position: center;
            background-repeat: no-repeat;
            background-size: 80% 80%;

            &:hover {
                background-image: url("/assets/img/logo_inverse.png");
                background-size: 100% 100%;

                // background: $primary-color;
                // color: $secondary-color;
                animation: ease-in-out;
                transition: all 0.5s ease-in-out;
                // @include easeOut();
            }
        }

        .nav-item {
            border: 1px solid $background-color;

            .nav-link {
                color: $primary-color;
                font-size: 1rem;
                font-weight: 500;
                // padding-bottom: 05rem;
                margin: 0rem 0.25rem;
                opacity: 1;
                // padding: 0;
            }

            &:hover {
                border: 1px solid $primary-color;
                transition: all 0.5s ease-in-out;
            }
        }
    }
}