// $background-color: rgb(243, 239, 239);
$background-color: #f5f5f0;
$primary-color: #471537;
$secondary-color: rgb(245, 84, 111);
$tertiary-color: #373952;
$gradient: linear-gradient(#e66465, #9198e5);