--- 
---

@import 'config';
@import 'menu';
@import 'home';
@import 'projects';
@import 'about';

* {
    box-sizing: border-box;
}

// Body Styling
body {
    font-family: "Circular", sans-serif;
    font-size: 1rem;
    background: $background-color;
    margin: 0rem 5rem;
    line-height: 1.2;
    color: rgb(39, 39, 39);
}

// Main page content
main {
    margin-top: 2rem;
} 


// Page Footer
.footer {
    padding: 1rem;
    .footer-text {
        font-size: 1rem;
        color: rgb(48, 47, 48);
    }
}

// Page Divider (hr)
.page-divider {
    margin-top: 0;
    margin-bottom: 0;
}


// Responsive styles and media queries
@import 'mobile';