--- 
---

@import 'config';
@import 'menu';
@import 'home';

* {
    box-sizing: border-box;
}

// Body Styling
body {
    font-family: "Circular", sans-serif;
    font-size: 1.12rem;
    background: $background-color;
    margin: 0rem 5rem;
    line-height: 1.2;
    color: rgb(24, 23, 24);
}

// Main page content
main {
    margin-top: 2rem;
} 


// Page Footer
.footer {
    padding: 1rem;
    .footer-text {
        font-size: 1rem;
        color: rgb(48, 47, 48);
    }
}

// Page Divider (hr)
.divider {
    border-color: rgb(255, 255, 255);
    margin-top: 0;
}


// Responsive styles and media queries
@import 'mobile';