--- 
---

@import 'config';
@import 'menu';

* {
    box-sizing: border-box;
}

body {
    font-family: "Circular", sans-serif;
    font-size: 1.12rem;
    padding: 0;
    // height: 100%vh;
    background: $primary-color;
    margin: 3rem 5rem 0 5rem;
    line-height: 1.2;
    color: rgb(24, 23, 24);

}


// Page Divider (hr)
.divider {
    border-color: rgb(255, 255, 255);
    margin-top: 0;
}

main {
    // min-height: calc(100vh - 60px);
}