---
layout: default
---

<div class="posts">
    <div class="post-intro mt-2">
        {{ content }}
    </div>

    {% if site.posts.size > 0 %}
    <ul class="post-list">
        {% for post in site.posts %}
        <li class="post-item">
            {% assign date_format = site.date_format | default: "%b %Y" %}
            <span class="post-meta">{{ post.date | date: date_format }}</span>
            <a href="{{ post.url | relative_url }}" class="post-link">
                <h4 class="post-title">
                    {{ post.title | escape }}
                </h4>
                {% if site.show_excerpts %}
                <div class="post-excerpt">
                    {{ post.excerpt }}
                </div>
                {% endif %}
            </a>
            </>
        </li>
        {% endfor %}
    </ul>
    {% else %}
    <!-- <div>I have not yet added any articles, return later for exciting content</div> -->
    {% endif %}
    <p class="rss-subscribe">subscribe <a href="{{ "/feed.xml" | relative_url }}">via RSS</a></p>
</div>
