---
layout: default
---

<div class="home">
    <div class="avatar">
        <img class="avatar-img" src="/assets/img/profile.jpg" alt="Victor Nguli Joseph">
    </div>
    <div class="intro">
        <h3>Victor Nguli Joseph</h3>
        <div><b>Software Developer</b> at Finance Plan Ltd</div>
        <!-- <p>{{ site.data.fields.short_description }}</p> -->
    </div>
    <div class="social-links">
        <div class="social-icon">
            <a href="https://www.github.com/Victornguli" target="_blank">
                <i class="fab fa-github"></i> Github
            </a>
        </div>

        <div class="social-icon">
            <a href="https://www.linkedin.com/in/victornguli/" target="_blank">
                <i class="fab fa-linkedin"></i> Linkedin
            </a>
        </div>

        <div class="social-icon">
            <a href="" target="_blank">
                <i class="fa fa-file-alt"></i> Resume
            </a>
        </div>

        <div class="social-icon">
            <a href="mailto:victornjoseph@gmail.com" target="_blank">
                <i class="fa fa-envelope"></i> Email
            </a>
        </div>
    </div>

    <!-- Include Later when Blog is active -->
    <!-- <a class="rss-subscribe">subscribe <a href="/feed.xml">via RSS</a></p> -->
</div>