---
layout: default
---

<div class="home">
    <h2 class="page-header top-page-header">Hello, World! I'm Victor</h2>
    <div class="intro">
        <p>
            I'm currently dedicating most of my time to building Sitesauce, a one-click solution to create static sites
            from any dynamically-generated website (like WordPress or Ghost sites) and keep them updated when content
            changes.
        </p>
        <p>
            Before that, I built and sold Blogcast, a service that uses state of the art text-﻿to-﻿speech technology to
            automate article narration. I also built and sold UnMarkDocs, an service to generate beautiful documentation
            pages with super-powerered markdown.
        </p>

        <p>
            I've also started and worked on many other projects that unfortunately never saw the light of day, like
            Snaptier or Maker Army. Here's can see a complete list of all my current and past projects if you want to
            learn more.
        </p>

        <p>

            I enjoy to contributing to open source on GitHub where I've helped over 500 projects, and mantaining an
            online coding community for teenagers I founded. I also love to learn new things, and especially enjoy
            researching about philosophy, psychology and other subjects while studying the International Baccalaureate.
        </p>

        <p>

            If you've reached this point, you probably want to learn more about my projects or read my articles. You can
            also follow me on Twitter, where I actively share what I'm working on, or subscribe to my newsletter to get
            regular updates on my projects.
        </p>
        <p>
            Lorem ipsum dolor sit amet consectetur adipisicing elit. Dolores commodi nesciunt excepturi deserunt sequi
            asperiores impedit optio qui aliquid!
            Lorem ipsum dolor sit amet consectetur, adipisicing elit. Laudantium, sit.
        </p>
    </div>
    <!-- Include Later when Blog is active -->
    <!-- <a class="rss-subscribe">subscribe <a href="/feed.xml">via RSS</a></p> -->
</div>