---
layout: default
---
<div class="projects">
    <!-- Projects List -->
    <div class="project-list">
        <h4 class="project-title">
            Job Scraper CLI tool
        </h4>
        <div class="project-item card">
            <div class="img-container">
                <img src="https://www.victornguli.me/img/jobbie.png" alt="Skraper" class="project-img">
            </div>
            <div class="details">
                <div class="description">
                    <p>
                        Skraped is a cli tool that scrapes and aggregates job posts from several
                        local job sites and boards. I built this tool so that I could easily sift through
                        several job posts from a configured set of job sources and aggragate these into manageable csv
                        files. Through a set of configurations, options and filters such as search keywords, blacklisted
                        companies, duplicate checks, etc can be added to improve the aggregation process.
                    </p>
                    <p>
                        The core stack I used for this project is Python 3.6, BeautifulSoup library for parsing the
                        scraped html, requests library for sending http requests to the scraped sources among other
                        python libraries. The tool is also package ready and can be installed as a Python3 package and
                        run on the terminal as such.
                    </p>
                </div>
                <ul class="tech">
                    <li class="tech-tag">Python3</li>
                    <li class="tech-tag">BeautifulSoup</li>
                    <li class="tech-tag">Requests</li>
                    <li class="tech-tag">cli</li>
                    <li class="tech-tag">Web Scraping</li>
                    <li class="tech-tag">csv</li>
                </ul>
                <div class="project-controls">
                    <a href="" class="preview-link">
                        <i class="fa fa-external-link-alt"></i> Launch
                    </a>
                    <a href="https://github.com/Victornguli/Skraped" target="_blank" class="github-link">
                        <i class="fab fa-github"></i> View source code
                    </a>
                </div>
            </div>
        </div>

        <h4 class="project-title">
            Job Scraper CLI tool
        </h4>
        <div class="project-item card">
            <div class="img-container">
                <img src="https://www.victornguli.me/img/jobbie.png" alt="Skraper" class="project-img">
            </div>
            <div class="details">
                <div class="description">
                    <p>
                        Skraped is a cli tool that scrapes and aggregates job posts from several
                        local job sites and boards. I built this tool so that I could easily sift through
                        several job posts from a configured set of job sources and aggragate these into manageable csv
                        files. Through a set of configurations, options and filters such as search keywords, blacklisted
                        companies, duplicate checks, etc can be added to improve the aggregation process.
                    </p>
                </div>
                <ul class="tech">
                    <li class="tech-tag">Python3</li>
                    <li class="tech-tag">BeautifulSoup</li>
                    <li class="tech-tag">Requests</li>
                    <li class="tech-tag">cli</li>
                    <li class="tech-tag">Web Scraping</li>
                    <li class="tech-tag">csv</li>
                </ul>
                <div class="project-controls">
                    <a href="" class="preview-link">
                        <i class="fa fa-external-link-alt"></i> Launch
                    </a>
                    <a href="https://github.com/Victornguli/Skraped" target="_blank" class="github-link">
                        <i class="fab fa-github"></i> View source code
                    </a>
                </div>
            </div>
        </div>

        <!-- <div class="project-item card">
            <div class="img-container">
                <img src="https://www.victornguli.me/img/jobbie.png" alt="Skraper" class="project-img">
            </div>
            <div class="details">
                <h4 class="project-title">
                    <a href="https://github.com/Victornguli/Skraped" target="_blank">Job Scraper CLI tool</a>
                </h4>
                <div class="description">
                    <p>
                        Skraped is a cli tool that scrapes and aggregates job posts from several
                        local job sites and boards. I built this tool so that I could easily sift through
                        several job posts from a configured set of job sources and aggragate these into manageable csv
                        files. Through a set of configurations, options and filters such as search keywords, blacklisted
                        companies, duplicate checks, etc can be added to improve the aggregation process.
                    </p>
                    <p>
                        The core stack I used for this project is Python 3.6, BeautifulSoup library for parsing the
                        scraped html, requests library for sending http requests to the scraped sources among other
                        python libraries. The tool is also package ready and can be installed as a Python3 package and
                        run on the terminal as such.
                    </p>
                </div>
                <ul class="tech">
                    <li class="tech-tag">Python3</li>
                    <li class="tech-tag">BeautifulSoup</li>
                    <li class="tech-tag">Requests</li>
                    <li class="tech-tag">cli</li>
                    <li class="tech-tag">Web Scraping</li>
                    <li class="tech-tag">csv</li>
                </ul>
                <div class="project-controls">
                    <a href="" class="preview-link">
                        <i class="fa fa-external-link-alt"></i> Launch
                    </a>
                    <a href="https://github.com/Victornguli/Skraped" target="_blank" class="github-link">
                        <i class="fab fa-github"></i> View source code
                    </a>
                </div>
            </div>
        </div>

        <div class="project-item card">
            <div class="img-container">
                <img src="https://www.victornguli.me/img/jobbie.png" alt="Skraper" class="project-img">
            </div>
            <div class="details">
                <h4 class="project-title">
                    <a href="https://github.com/Victornguli/Skraped" target="_blank">Job Scraper CLI tool</a>
                </h4>
                <div class="description">
                    <p>
                        Skraped is a cli tool that scrapes and aggregates job posts from several
                        local job sites and boards. I built this tool so that I could easily sift through
                        several job posts from a configured set of job sources and aggragate these into manageable csv
                        files. Through a set of configurations, options and filters such as search keywords, blacklisted
                        companies, duplicate checks, etc can be added to improve the aggregation process.
                    </p>
                    <p>
                        The core stack I used for this project is Python 3.6, BeautifulSoup library for parsing the
                        scraped html, requests library for sending http requests to the scraped sources among other
                        python libraries. The tool is also package ready and can be installed as a Python3 package and
                        run on the terminal as such.
                    </p>
                </div>
                <ul class="tech">
                    <li class="tech-tag">Python3</li>
                    <li class="tech-tag">BeautifulSoup</li>
                    <li class="tech-tag">Requests</li>
                    <li class="tech-tag">cli</li>
                    <li class="tech-tag">Web Scraping</li>
                    <li class="tech-tag">csv</li>
                </ul>
                <div class="project-controls">
                    <a href="" class="preview-link">
                        <i class="fa fa-external-link-alt"></i> Launch
                    </a>
                    <a href="https://github.com/Victornguli/Skraped" target="_blank" class="github-link">
                        <i class="fab fa-github"></i> View source code
                    </a>
                </div>
            </div>
        </div> -->
    </div>
</div>