---
layout: default
---
<div class="projects">
    <!-- Projects List -->
    <div class="project-list">
        <div class="project-item card">
            <div class="img-container">
                <img src="/assets/img/flashlearn.jpg" alt="Skraper" class="project-img">
            </div>
            <div class="details">
                <h4 class="project-title">
                    FlashLearn
                </h4>
                <div class="description">
                    <p>
                        A flashcard based learning application that helps to understand and remember concepts
                        using timed repetition developed in Flask framework within a dockerised environment. 
                    </p>
                </div>
                <ul class="tech">
                    <li class="tech-tag">Python3</li>
                    <li class="tech-tag">Flask</li>
                    <li class="tech-tag">Docker</li>
                    <li class="tech-tag">PostgresSql</li>
                    <li class="tech-tag">SQLAlchemy</li>
                    <li class="tech-tag">Redis</li>
                    <li class="tech-tag">JavaScript</li>
                </ul>
                <div class="project-controls">
                    <a href="https://flashcards.victornguli.me" target="_blank" class="preview-link">
                        <i class="fa fa-external-link-alt"></i> Launch
                    </a>
                    <a href="https://github.com/Victornguli/flashlearn" target="_blank" class="github-link">
                        <i class="fab fa-github"></i> View source code
                    </a>
                </div>
            </div>
        </div>

        <div class="project-item card">
            <div class="img-container">
                <img src="/assets/img/skraped.png" alt="Skraper" class="project-img">
            </div>
            <div class="details">
                <h4 class="project-title">
                    Skraped CLI
                </h4>
                <div class="description">
                    <p>
                        Skraped is a cli tool that scrapes and aggregates job posts from several
                        local job sites and boards into clean and easily digestible csv files.
                    </p>
                </div>
                <ul class="tech">
                    <li class="tech-tag">Python3</li>
                    <li class="tech-tag">BeautifulSoup</li>
                    <li class="tech-tag">Requests</li>
                    <li class="tech-tag">PyYaml</li>
                    <li class="tech-tag">Web Scraping</li>
                    <li class="tech-tag">Pickle</li>
                </ul>
                <div class="project-controls">
                    <a href="https://github.com/Victornguli/Skraped" target="_blank" class="github-link">
                        <i class="fab fa-github"></i> View source code
                    </a>
                </div>
            </div>
        </div>

        <div class="project-item card">
            <div class="img-container">
                <img src="/assets/img/notifier.png" alt="Skraper" class="project-img">
            </div>
            <div class="details">
                <h4 class="project-title">
                    Data bundle expiry notifier bot
                </h4>
                <div class="description">
                    <p>
                        A simple telegram bot for notifying a user when their data bundle is about 
                        to expire when using ISPs that do not preserve existing bundles on auto renewal.
                        Can be additionally be configured to purchase/topup data packages via the 
                        ISP web portal using Selenium ChromeWebDriver
                    </p>
                </div>
                <ul class="tech">
                    <li class="tech-tag">Bottle</li>
                    <li class="tech-tag">Python</li>
                    <li class="tech-tag">Telegram Bot API</li>
                    <li class="tech-tag">Selenium</li>
                    <li class="tech-tag">CronTab</li>
                    <li class="tech-tag">ChromeDriver</li>
                </ul>
                <div class="project-controls">
                    <a href="https://github.com/Victornguli/data-expiry-bot" target="_blank" class="github-link">
                        <i class="fab fa-github"></i> View source code
                    </a>
                </div>
            </div>
        </div>
    </div>
</div>