---
layout: default
---
<div class="projects">
    <div class="title">{{ page.title }}</div>
    <hr class="page-divider">

    <!-- Projects List -->
    <div class="project-list card">
        <div class="project-item">
            <img src="https://via.placeholder.com/450x250" alt="Project1" class="project-img">
            <div class="details">
                <h4><a href="">Project 1</a></h4>
                <div class="description">
                    Lorem ipsum dolor sit amet consectetur adipisicing elit. Voluptates, veniam!
                    Lorem ipsum dolor sit amet consectetur adipisicing elit. Quo quidem ea cum asperiores recusandae
                    dicta?
                    Lorem ipsum dolor sit amet consectetur adipisicing elit. Reprehenderit vero atque, quibusdam ipsa
                    eius possimus suscipit magni, beatae molestiae ab harum nostrum ut quidem, quaerat corrupti dolore
                    iure voluptate placeat natus ad excepturi deserunt!
                </div>
                <ul class="tech">
                    <li class="tech-tag">python3</li>
                    <li class="tech-tag">redis</li>
                    <li class="tech-tag">cassandra</li>
                    <li class="tech-tag">react</li>
                    <li class="tech-tag">microservices</li>
                    <li class="tech-tag">postgres</li>
                </ul>
                <div class="project-controls">
                    <a href="" class="preview-link">
                        <i class="fa fa-eye"></i> Website
                    </a>
                    <a href="" class="github-link">
                        <i class="fa fa-link"></i> Github
                    </a>
                </div>
            </div>
        </div>

        <div class="project-item">
            <img src="https://via.placeholder.com/450x250" alt="Project1" class="project-img">
            <div class="details">
                <h4><a href="">Project 1</a></h4>
                <div class="description">
                    Lorem ipsum dolor sit amet consectetur adipisicing elit. Voluptates, veniam!
                    Lorem ipsum dolor sit amet consectetur adipisicing elit. Quo quidem ea cum asperiores recusandae
                    dicta?
                    Lorem ipsum dolor sit amet consectetur adipisicing elit. Reprehenderit vero atque, quibusdam ipsa
                    eius possimus suscipit magni, beatae molestiae ab harum nostrum ut quidem, quaerat corrupti dolore
                    iure voluptate placeat natus ad excepturi deserunt!
                </div>
                <ul class="tech">
                    <li class="tech-tag">python3</li>
                    <li class="tech-tag">redis</li>
                    <li class="tech-tag">cassandra</li>
                    <li class="tech-tag">react</li>
                    <li class="tech-tag">microservices</li>
                    <li class="tech-tag">postgres</li>
                </ul>
                <div class="project-controls">
                    <a href="" class="preview-link">
                        <i class="fa fa-eye"></i> Website
                    </a>
                    <a href="" class="github-link">
                        <i class="fa fa-link"></i> Github
                    </a>
                </div>
            </div>
        </div>

        <div class="project-item">
            <img src="https://via.placeholder.com/450x250" alt="Project1" class="project-img">
            <div class="details">
                <h4><a href="">Project 1</a></h4>
                <div class="description">
                    Lorem ipsum dolor sit amet consectetur adipisicing elit. Voluptates, veniam!
                    Lorem ipsum dolor sit amet consectetur adipisicing elit. Quo quidem ea cum asperiores recusandae
                    dicta?
                    Lorem ipsum dolor sit amet consectetur adipisicing elit. Reprehenderit vero atque, quibusdam ipsa
                    eius possimus suscipit magni, beatae molestiae ab harum nostrum ut quidem, quaerat corrupti dolore
                    iure voluptate placeat natus ad excepturi deserunt!
                </div>
                <ul class="tech">
                    <li class="tech-tag">python3</li>
                    <li class="tech-tag">redis</li>
                    <li class="tech-tag">cassandra</li>
                    <li class="tech-tag">react</li>
                    <li class="tech-tag">microservices</li>
                    <li class="tech-tag">postgres</li>
                </ul>
                <div class="project-controls">
                    <a href="" class="preview-link">
                        <i class="fa fa-eye"></i> Website
                    </a>
                    <a href="" class="github-link">
                        <i class="fa fa-link"></i> Github
                    </a>
                </div>
            </div>
        </div>

        <div class="project-item">
            <img src="https://via.placeholder.com/450x250" alt="Project1" class="project-img">
            <div class="details">
                <h4><a href="">Project 1</a></h4>
                <div class="description">
                    Lorem ipsum dolor sit amet consectetur adipisicing elit. Voluptates, veniam!
                    Lorem ipsum dolor sit amet consectetur adipisicing elit. Quo quidem ea cum asperiores recusandae
                    dicta?
                    Lorem ipsum dolor sit amet consectetur adipisicing elit. Reprehenderit vero atque, quibusdam ipsa
                    eius possimus suscipit magni, beatae molestiae ab harum nostrum ut quidem, quaerat corrupti dolore
                    iure voluptate placeat natus ad excepturi deserunt!
                </div>
                <ul class="tech">
                    <li class="tech-tag">python3</li>
                    <li class="tech-tag">redis</li>
                    <li class="tech-tag">cassandra</li>
                    <li class="tech-tag">react</li>
                    <li class="tech-tag">microservices</li>
                    <li class="tech-tag">postgres</li>
                </ul>
                <div class="project-controls">
                    <a href="" class="preview-link">
                        <i class="fa fa-eye"></i> Website
                    </a>
                    <a href="" class="github-link">
                        <i class="fa fa-link"></i> Github
                    </a>
                </div>
            </div>
        </div>
    </div>
</div>